* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #1c2c40;
  overflow-x: hidden;
  min-width: 320px;
}

input,
textarea,
select {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: #1c2c40;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Circular-Std-Regular", Arial;
  font-weight: 400;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}

@font-face {
  font-family: "Circular-Std-Regular";
  src: url("../fonts/CircularStd-Regular.woff2") format("woff2");
  src: url("../fonts/CircularStd-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Circular-Std-Bold";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
  src: url("../fonts/CircularStd-Bold.woff") format("woff");
  font-style: normal;
}
::-moz-placeholder {
  color: #d3cfcb;
}
::placeholder {
  color: #d3cfcb;
}

#home {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding-bottom: 300px;
}
#home header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home header div.left {
  display: flex;
  justify-content: space-between;
}
#home header div.left h1 {
  margin-right: 80px;
}
#home header div.left h1 a {
  display: block;
}
#home header div.left h1 a img {
  display: block;
  width: 100%;
}
#home header div.left nav ul {
  display: flex;
}
#home header div.left nav ul li {
  margin-right: 32px;
}
#home header div.left nav ul li:last-child {
  margin-right: 0;
}
#home header div.left nav ul li a {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
#home header div.left nav ul li a img {
  margin-left: 8px;
  display: inline-block;
}
#home header div.right ul {
  display: flex;
  align-items: center;
}
#home header div.right ul li {
  margin-right: 32px;
}
#home header div.right ul li a {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
#home header div.right ul li a.button {
  background: #2DCA73;
  padding: 16px 32px;
  border-radius: 8px;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
#home header div.right ul li a.button:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

#spotlight {
  padding-top: 250px;
  text-align: center;
}
#spotlight h1 {
  font-size: 78px;
  font-weight: 700;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 32px;
}
#spotlight p {
  font-size: 26px;
  color: #fff;
  font-weight: 600px;
  margin-bottom: 80px;
}
#spotlight form {
  max-width: 900px;
  background: #fff;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
#spotlight form input[type=text] {
  width: 650px;
  border: 1px solid #2DCA73;
  height: 48px;
  border-radius: 8px;
  margin-right: 24px;
}
#spotlight form input[type=text]::-moz-placeholder {
  font-size: 21px;
  padding-left: 32px;
}
#spotlight form input[type=text]::placeholder {
  font-size: 21px;
  padding-left: 32px;
}
#spotlight form input[type=submit] {
  background: #2DCA73;
  padding: 16px 32px;
  border-radius: 8px;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
#spotlight form input[type=submit]:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}/*# sourceMappingURL=style.css.map */